.skills {
   
    display: grid;
    gap: $base-margin*2;


    h2 {
        margin: $base-margin 0;
    }

}


@include md {
    .skills{
     grid-template-columns: 1fr 1fr;
    }
   }
  
   @include xl {
    .skills{
     grid-template-columns: 1fr 1fr 1fr;
    }
   }
   