// theme color
$primary: #00779b;
$secondary: #d31e69;
$white: #ffffff;
$text: #1f1f1f;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "white": $white,
  "text": $text,
);

// spacing
$base-padding: 1rem;
$base-margin: 1rem;

// border and border radius
$base-border: 4px solid;
$base-border-radius: 1rem;

// font size
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// font weight
$base-font-weight: 400;
$semi-bold-font-weight: 500;
$bold-font-weight: 700;
