@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');



body {
    background-color: rgb(210, 214, 235);
    font-family: 'Work Sans', sans-serif;
    margin: 0 2rem;
}

img {
    max-width: 100%;
    border-radius: 1rem;
    
}

.material-icons{
font-size: 2rem;
}

a{
    background-color: rgb(90, 66, 178);;
    border-radius: 1rem;
    color: aliceblue;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
}


.btn {
    background-color: transparent;
    border-style: double;
    border-width: 6px;
    border-color: rgb(90, 66, 178);
    border-radius: 1rem;
    color: rgb(90, 66, 178);
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
}

.cta {
    background-color: rgb(135, 155, 247);
    background-color: transparent;
    border-style: solid;
    border-width: 6px;
    border-color: aliceblue;
    border-radius: 1rem;
    color: aliceblue;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: rgb(57, 34, 142);
}


.hero {
    padding: 2rem;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(180, 14, 163), rgb(131, 12, 160));
    color: aliceblue;
}

.section{
   
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
    color: rgb(90, 66, 178);
    text-align: center;
   align-items: center;
   font-weight: 700;
}

.about{
    
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 4rem;
    margin: 2rem;
    color: rgb(90, 66, 178);
    text-align: center;
   align-items: center;
   font-weight: 700;
   display: grid;
  
}

.ja{
    max-width: 70%;
}




.links {
    display: grid;
    grid-template-columns: 1fr;
}


.portfolio {
    display: grid;
    grid-template-columns: 1fr;
}


.buttons{
    display: flex;
    justify-content:space-around;
    margin: 2rem;
    
    gap: 2rem;
}

.card {
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    color: rgb(90, 66, 178);
    font-weight: 400;
}

.kontakt{
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    color: rgb(90, 66, 178); 
    
}

.info{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
}

.kbtn{
    display: grid;
    grid-template-rows:  1fr 1fr;
margin: 2rem;
}
    
  .abtn{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 0 0 0;
  }








/*--Media Quiry--*/

@media only screen and (min-width: 768px) {

    body {
        margin: 0 4rem;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero {

        background-image: linear-gradient(to bottom right, rgb(147, 14, 180), rgb(91, 14, 180));

    }

    .about{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 2rem;
    }

    .buttons{
        display: flex;
        justify-content:space-around;
        margin: 2rem;
    }
   
    .abtn{
        display: flex;
        justify-content: space-around;
      }

}




@media only screen and (min-width: 1024px) {

    .section{
        display: flex;
        justify-content: space-between;
        background-color: aliceblue;
        border-radius: 1rem;
        padding: 4rem;
        margin: 1rem;
        color: rgb(90, 66, 178);
        text-align: center;
       align-items: center;
       font-weight: 700;
    }
    



    body {
        margin: 0 6rem;
    }


    .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }

    .portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .hero {

        background-image: linear-gradient(to bottom right, rgb(91, 14, 180), rgb(80, 147, 255));

    }

    .about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .buttons{
        display: flex;
        justify-content:space-around;
        margin: 2rem;
    }



}